body       { font-family: "Georgia", serif; font-size: 20px; color: #00CED1; }
a, h1, h2  { color: steelblue; position: center; }
.entry     { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #888; }
form       { margin:.1em auto; padding:.1em; width: 400px; border: 1px }
input[type=text] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;}

.page      {
    height: 800px;
    width:100%;
    margin:1em auto;
    padding:1em;
}

.topnav    {
    height: 80px;
    width: 100%;
    position: center;
    background-color: steelblue;
    overflow-x: hidden;
}

.topnav a  {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    display: block;
}
