{% extends "layout.html" %}

{% block head %}
    {{mymap.js}}
{% endblock %}

{%  block nav %}
    <a style="font-size: 16px"> Search by City and State to Refine Your Search! <br>
        <form action="{{ url_for('submit') }}" method=post>
            <input type=text name=location value="Enter City and State">
            <input type=submit value=Search>
        </form>
    </a>
{% endblock %}

{% block content %}
    {{ mymap.html }}
{% endblock %}
{% block details %}
<a style="alignment: center">
    {% if submit_flag == 1 %}
        {% if total > 1 %}
            <h1> {{ total }} Violations Found! </h1>
            <a> Within 3 years</a>
        {% elif total == 1 %}
            <h1> {{ total }} Health Violation Found! </h1>
            <a> Within 3 years</a>
        {% else %}
            <h1> No Recent Public Drinking Water Violations!! </h1>
        {% endif %}
    {% endif %}
</a>
{% endblock %}
