<!doctype html>
<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    {% endblock %}
</head>
<title>How Safe is Your Water?</title>
<h1 style="text-align:center;"> H2OMG! Know if your drinking water is safe!</h1>

<!-- Top navigation -->
<div class="topnav">
    {%  block nav %}
    {% endblock %}
</div>

<!-- Page content -->
<div class="map">
    {% block content %}
    {% endblock %}
</div>

<div class ="details_pane" style="float:right">
    {% block details %}
    {% endblock %}
</div>
</html>
